.App {
  text-align: center;
}
body{

}

.book-card-image{
    height: 300px;
    width:200px;
}

.book-image-container{
    display: flex;
    width: fit-content;
    padding: 5px;
    border: 1px solid #000;
}

.plus-icon-container{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    position: relative;
    float: right;
    margin-right: 20px;
}

.plus-icon{
    width: 50px;
    height: 50px;
    float: right;
    margin: 20px;
}

.drop-down-icon-container{
    width: fit-content;
    height: fit-content;
    position: relative;
    float: right;
    top:-50px;
    right: 10px;
}

.drop-down-icon{
    height: 40px;
    width: 40px;
}

.book-shelf-changer {
  position: absolute;
  right: -15px;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #00c73c;
  background-image: url('./Assets/Images/drop-down-arrow-green.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}